// Main styles
$primary-color: #fcaf32;
$secondary-color: #fc888e;
$bg-color: #fff;

html,
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

.main {
  align-items: center;
  background: linear-gradient(-45deg, $primary-color 0%, $secondary-color 100%);
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.btn {
  outline: none;
}

.big-text {
  font-family: 'Lobster', cursive;
  font-size: 42px;
}

.btn-main {
  appearance: none;
  background: transparent;
  border: 0;
  cursor: pointer;
  height: 60px;
  padding: 0 20px;
  transition: transform .5s ease;

  &:hover {
    transform: scale(1.15);
  }
}

.popup {
  background-color: $bg-color;
  border-radius: 4px;
  display: none;
  left: 50%;
  padding: 35px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 200px;

  .big-text {
    font-size: 32px;
    margin: 0 0 12px;
    text-align: center;
  }

  .input {
    border: 1px solid #000;
    border-radius: 0;
    height: 40px;
    margin: 8px 0;
    padding: 0 20px;
    width: 160px;
  }

  .container {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    height: 22px;
    margin: 5px 0;
    padding-left: 25px;
    position: relative;
    width: 205px;
  }

  .container input {
    cursor: pointer;
    opacity: 0;
    position: absolute;
  }

  .checkmark {
    background-color: #fff;
    border: 1px solid #000;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
    left: 5px;
    top: 0px;
    width: 6px;
    height: 12px;
    border: solid #000;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .submit {
    background-color: #000;
    border: 0;
    border-radius: 0;
    color: #fff;
    height: 40px;
    margin: 8px 0;
    padding: 0 20px;
    width: 202px;

    &:hover{
      background-color: #fc888e;
      color: white;
      cursor: pointer;
    }
  }

  .cancel {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #000;
    border: 0;
    border-radius: 50%;
    height: 28px;
    outline: none;
    position: absolute;
    right: -8px;
    top: -8px;
    width: 28px;
    :hover {
      cursor: pointer;
    }

    .fa-times {
      color: #fff;
      font-size: 20px;
      margin: auto;
    }
  }
}

@keyframes disappear{
  0% {opacity: 1;}
  100% {opacity: 0;}
}